extends ../../templates/default
block vars
	-
		title = "Пиломир"

block content
	.side-panel
		.side-panel__wrap
			.side-panel__list
				a.side-panel__item(data-fancybox data-src="#modal-price" href="javascript:;")
					.side-panel__icon
						img(src="_/uploads/icons/calc.svg", alt="")
					.side-panel__text Рассчитать стоимость
				a.side-panel__item(data-fancybox data-src="#modal-consult" href="javascript:;")
					.side-panel__icon
						img(src="_/uploads/icons/consult.svg", alt="")
					.side-panel__text Получить консультацию
				a.side-panel__item(href="https://wa.me/79175030777" target="_blank")
					.side-panel__icon
						img(src="_/uploads/icons/wh-2.svg", alt="")
					.side-panel__text WhatsApp
			.side-panel__close

	.intro.bg.anchore
		.case
			.intro__wrap.row
				.intro__info
					.intro__label оптом и в розницу
					.intro__title.h1 #[h1 #[strong Фанера по низким ценам #[br]с доставкой в день заказа] #[br]по Москве и области]
					.intro__subtitle.h4 со склада производителя #[br]любого сорта и размера
					.intro__act.row
						a.intro__btn.btn.--primary.--img(data-fancybox data-src="#modal-price" href="javascript:;") Узнать стоимость
							.btn__img
								img(src="_/uploads/price.png" srcset="_/uploads/price-2x.png 2x", alt="" loading="lazy")
						.intro__desc Оставьте заявку и получите точный расчет под ваш объем #[br]#[strong в течение 5 минут]
				.intro__preview
					.intro__img
						img(src="_/uploads/intro-img.png" srcset="_/uploads/intro-img-2x.png 2x", alt="" loading="lazy")
					.intro__note
						.intro__note-icon
							img(src="_/uploads/icons/check-green.svg", alt="" loading="lazy")
						.intro__note-text.t1.tac
							p Наша фанера имеет #[strong все необходимые сертификаты.]
							p Она #[strong абсолютно безопасна] для вашего здоровья
		.intro__bg.bg-img
			picture
				source(srcset="_/uploads/intro-bg.webp" type="image/webp")
				img(src="_/uploads/intro-bg.jpg" alt="" loading="lazy")
		.intro__decor
			.intro__decor-item.decor-item
				img(src="_/uploads/decor/decor-1.png", alt="" loading="lazy")
			.intro__decor-item.decor-item
				img(src="_/uploads/decor/decor-2.png", alt="" loading="lazy")
			.intro__decor-item.decor-item
				img(src="_/uploads/decor/decor-3.png", alt="" loading="lazy")
		.anchore__link#intro

	.pros
		.case
			.pros__list
				.pros__item
					.pros__icon
						img(src="_/uploads/pros-1.png" srcset="_/uploads/pros-1-2x.png 2x", alt="" loading="lazy")
					.pros__info
						.pros__name.h5 #[h5 Оплата по факту]
						.pros__text Оплачивайте как вам удобно: после получения заказа, либо по предоплате, наличными #[br]или по карте
				.pros__item
					.pros__icon
						img(src="_/uploads/pros-2.png" srcset="_/uploads/pros-2-2x.png 2x", alt="" loading="lazy")
					.pros__info
						.pros__name.h5 #[h5 Отправка через #[br]1 час после заказа]
						.pros__text Загружаем машину сразу же после заказа, #[br]вы получаете фанеру  в этот же день
				.pros__item
					.pros__icon
						img(src="_/uploads/pros-3.png" srcset="_/uploads/pros-3-2x.png 2x", alt="" loading="lazy")
					.pros__info
						.pros__name.h5 #[h5 Распил фанеры #[br]по вашим размерам]
						.pros__text Выполняем фрезерную и лазерную резку #[br]фанеры на станках с ЧПУ

	form.quiz.anchore
		.case
			.quiz__title.h2.tac #[h2 #[strong Рассчитайте стоимость заказа за 1 минуту,] #[br]ответив на 4 простых вопроса]
			.quiz__wrap
				//- ПЕРВЫЙ ШАГ
				.quiz__step.--active
					.quiz__head
						.quiz__num 1 вопрос из 4
						.quiz__arrow.quiz-next.quiz__btn-next
							img(src="_/uploads/icons/arrow.svg", alt="" loading="lazy")
					.quiz__bar
						img(src="_/uploads/icons/bar.svg", alt="" loading="lazy")
					.quiz__body
						.quiz__step-name.h4.tac Для каких задач вам нужна фанера?
						.quiz__list
							.quiz__item.check.--img.quiz__btn-next
								input.check__input(type="radio" name="zadacha" value="Для пола")
								.check__wrap
									.check__img.cover
										img(src="_/uploads/quiz/step-1-item-1.jpg", alt="" loading="lazy")
									.check__point
									.check__text Для пола
							.quiz__item.check.--img.quiz__btn-next
								input.check__input(type="radio" name="zadacha" value="Для потолка")
								.check__wrap
									.check__img.cover
										img(src="_/uploads/quiz/step-1-item-2.jpg", alt="" loading="lazy")
									.check__point
									.check__text Для потолка
							.quiz__item.check.--img.quiz__btn-next
								input.check__input(type="radio" name="zadacha" value="Для стен")
								.check__wrap
									.check__img.cover
										img(src="_/uploads/quiz/step-1-item-3.jpg", alt="" loading="lazy")
									.check__point
									.check__text Для стен
							.quiz__item.check.--img.quiz__btn-next
								input.check__input(type="radio" name="zadacha" value="Для опалубки")
								.check__wrap
									.check__img.cover
										img(src="_/uploads/quiz/step-1-item-4.jpg", alt="" loading="lazy")
									.check__point
									.check__text Для опалубки
							.quiz__item.check.--img.quiz__btn-next
								input.check__input(type="radio" name="zadacha" value="Для кровли")
								.check__wrap
									.check__img.cover
										img(src="_/uploads/quiz/step-1-item-5.jpg", alt="" loading="lazy")
									.check__point
									.check__text Для кровли
							.quiz__item.check.--img.quiz__btn-next
								input.check__input(type="radio" name="zadacha" value="Другое")
								.check__wrap
									.check__img(style="background: #FBCC50")
										img(src="_/uploads/icons/quest.svg", alt="" loading="lazy")
									.check__point
									.check__text Другое
				//- ВТОРОЙ ШАГ
				.quiz__step
					.quiz__head
						.quiz__num 2 вопрос из 4
						.quiz__arrow.quiz-prev.quiz__btn-prev
							img(src="_/uploads/icons/arrow.svg", alt="" loading="lazy")
						.quiz__arrow.quiz-next.quiz__btn-next
							img(src="_/uploads/icons/arrow.svg", alt="" loading="lazy")
					.quiz__bar
						img(src="_/uploads/icons/bar.svg", alt="" loading="lazy")
					.quiz__body
						.quiz__step-name.h4.tac Какой тип фанеры необходим?
						.quiz__list
							.quiz__item.check.--img.quiz__btn-next
								input.check__input(type="radio" name="type" value="Ламинированная-Влагостойкая")
								.check__wrap
									.check__img.cover
										img(src="_/uploads/quiz/step-2-item-1.jpg", alt="" loading="lazy")
									.check__point
									.check__text Ламинированная /#[br]Влагостойкая фанера
							.quiz__item.check.--img.quiz__btn-next
								input.check__input(type="radio" name="type" value="Шлифованная фанера")
								.check__wrap
									.check__img.cover
										img(src="_/uploads/quiz/step-2-item-2.jpg", alt="" loading="lazy")
									.check__point
									.check__text Шлифованная фанера
							.quiz__item.check.--img.quiz__btn-next
								input.check__input(type="radio" name="type" value="Бакелитовая фанера (ФБ)")
								.check__wrap
									.check__img.cover
										img(src="_/uploads/quiz/step-2-item-3.jpg", alt="" loading="lazy")
									.check__point
									.check__text Бакелитовая фанера (ФБ)
							.quiz__item.check.--img.quiz__btn-next
								input.check__input(type="radio" name="type" value="Фанера ФК")
								.check__wrap
									.check__img.cover
										img(src="_/uploads/quiz/step-2-item-4.jpg", alt="" loading="lazy")
									.check__point
									.check__text Фанера ФК
							.quiz__item.check.--img.quiz__btn-next
								input.check__input(type="radio" name="type" value="Фанера ФСФ")
								.check__wrap
									.check__img.cover
										img(src="_/uploads/quiz/step-2-item-5.jpg", alt="" loading="lazy")
									.check__point
									.check__text Фанера ФСФ / Строительная
							.quiz__item.check.--img.quiz__btn-next
								input.check__input(type="radio" name="type" value="Нужна помощь")
								.check__wrap
									.check__img(style="background: #FBCC50")
										img(src="_/uploads/icons/quest.svg", alt="" loading="lazy")
									.check__point
									.check__text Не могу сказать, #[br]нужна помощь в выборе
				//- ТРЕТИЙ ШАГ
				.quiz__step
					.quiz__head
						.quiz__num 3 вопрос из 4
						.quiz__arrow.quiz-prev.quiz__btn-prev
							img(src="_/uploads/icons/arrow.svg", alt="" loading="lazy")
						.quiz__arrow.quiz-next.quiz__btn-next
							img(src="_/uploads/icons/arrow.svg", alt="" loading="lazy")
					.quiz__bar
						img(src="_/uploads/icons/bar.svg", alt="" loading="lazy")
					.quiz__body
						.quiz__step-name.h4.tac Какая толщина необходима?
						.quiz__list.--w6
							.quiz__item.check.--radio.quiz__btn-next
								input.check__input(type="radio" name="thick" value="3 мм")
								.check__wrap
									.check__point
									.check__text 3 мм
							.quiz__item.check.--radio.quiz__btn-next
								input.check__input(type="radio" name="thick" value="4 мм")
								.check__wrap
									.check__point
									.check__text 4 мм
							.quiz__item.check.--radio.quiz__btn-next
								input.check__input(type="radio" name="thick" value="6мм")
								.check__wrap
									.check__point
									.check__text 6мм
							.quiz__item.check.--radio.quiz__btn-next
								input.check__input(type="radio" name="thick" value="9мм")
								.check__wrap
									.check__point
									.check__text 9мм
							.quiz__item.check.--radio.quiz__btn-next
								input.check__input(type="radio" name="thick" value="10мм")
								.check__wrap
									.check__point
									.check__text 10мм
							.quiz__item.check.--radio.quiz__btn-next
								input.check__input(type="radio" name="thick" value="12мм")
								.check__wrap
									.check__point
									.check__text 12мм
							.quiz__item.check.--radio.quiz__btn-next
								input.check__input(type="radio" name="thick" value="15 мм")
								.check__wrap
									.check__point
									.check__text 15 мм
							.quiz__item.check.--radio.quiz__btn-next
								input.check__input(type="radio" name="thick" value="18 мм")
								.check__wrap
									.check__point
									.check__text 18 мм
							.quiz__item.check.--radio.quiz__btn-next
								input.check__input(type="radio" name="thick" value="21 мм")
								.check__wrap
									.check__point
									.check__text 21 мм
							.quiz__item.check.--radio.quiz__btn-next
								input.check__input(type="radio" name="thick" value="24 мм")
								.check__wrap
									.check__point
									.check__text 24 мм
							.quiz__item.check.--radio.quiz__btn-next
								input.check__input(type="radio" name="thick" value="30 мм")
								.check__wrap
									.check__point
									.check__text 30 мм
							.quiz__item.check.--radio.quiz__btn-next
								input.check__input(type="radio" name="thick" value="40 мм")
								.check__wrap
									.check__point
									.check__text 40 мм
						.quiz__act
							.quiz__link.link.quiz-prev.quiz__btn-prev Вернуться назад
							.quiz__btn.btn.--primary.quiz-next.quiz__btn-next Продолжить
				//- ЧЕТВЕРТЫЙ ШАГ
				.quiz__step
					.quiz__head
						.quiz__num 4 вопрос из 4
						.quiz__arrow.quiz-prev.quiz__btn-prev
							img(src="_/uploads/icons/arrow.svg", alt="" loading="lazy")
						.quiz__arrow.quiz-next.quiz__btn-next
							img(src="_/uploads/icons/arrow.svg", alt="" loading="lazy")
					.quiz__bar
						img(src="_/uploads/icons/bar.svg", alt="" loading="lazy")
					.quiz__body
						.quiz__step-name.h4.tac Нужна ли доставка?
						.quiz__list
							.quiz__item.check.--img.quiz__btn-next
								input.check__input(type="radio" name="delivery" value="Да, нужна")
								.check__wrap
									.check__img
										img(src="_/uploads/quiz/step-4-item-1.png", alt="" loading="lazy")
									.check__point
									.check__text Да, нужна
							.quiz__item.check.--img.quiz__btn-next
								input.check__input(type="radio" name="delivery" value="Заберу самостоятельно")
								.check__wrap
									.check__img.cover
										img(src="_/uploads/quiz/step-4-item-2.jpg", alt="" loading="lazy")
									.check__point
									.check__text Заберу самостоятельно
						.quiz__act
							.quiz__link.link.quiz-prev.quiz__btn-prev Вернуться назад
							.quiz__btn.btn.--primary.quiz-next.quiz__btn-next Продолжить
				//- ФОРМА
				.quiz__step
					.quiz__form.form
						.form__title.tac Расчет готов!
						.form__subtitle.h5.tac Введите номер телефона и получите информацию о стоимости фанеры с учетом СКИДКИ на свой мобильный телефон!
						.form__fields
							.form__field.field.--required.--tel
								.field__wrap
									.field__icon
										img(src="_/uploads/icons/tel-gray.svg", alt="" loading="lazy")
									input.field__area(type="tel" name="tel" placeholder="Введите ваш телефон")
							.form__btn.btn.--primary Получить персональное предложение
						.form__policy.tac Нажимая на кнопку вы соглашаетесь с условиями #[a(href="/politika.pdf" target="_blank").link.inline обработки данных] и #[a(href="/politika.pdf" target="_blank").link.inline политикой конфиденциальности]
			
			.quiz__decor
				.quiz__decor-item.decor-item
					img(src="_/uploads/decor/decor-4.png", alt="" loading="lazy")
				.quiz__decor-item.decor-item
					img(src="_/uploads/decor/decor-5.png", alt="" loading="lazy")
		.quiz__decor-bottom.decor-bottom.cover
			img(src="_/uploads/decor/decor-bottom.png", alt="" loading="lazy")
		.anchore__link#quiz

	.consult.bg.anchore
		.case
			.consult__wrap.row
				.consult__info
					.consult__title.h2 #[h2 ]Не знаете какой вид #[br]фанеры выбрать?
					.consult__subtitle #[h4 Получите #[span.bg-green бесплатную консультацию] #[br]от специалиста с опытом более 10 лет]
					.consult__pros
						.consult__pros-item.h5 #[strong Поможем подобрать] фанеру, которая подходит под вашу задачу лучше всего
						.consult__pros-item.h5 #[strong Расскажем,] как можно сэкономить #[br]и получить скидку на нашу продукцию
						.consult__pros-item.h5 #[strong Рассчитаем точную стоимость] вашего заказа с доставкой до нужного места
				.consult__preview
					.consult__img
						img(src="_/uploads/manager.png" srcset="_/uploads/manager-2x.png 2x", alt="" loading="lazy")
					.consult__person.tac
						.consult__person-name.h5 Никита Сивков
						.consult__person-duty Менеджер по продажам #[br]Опыт более 10 лет
				form.consult__form.form
					.form__title.tac Заполните форму
					.form__subtitle.h5.tac Наш специалист свяжется с вами в течение #[br]5 минут и ответит на все возникшие вопросы
					.form__fields
						.form__field.field.--required.--name
							.field__wrap
								.field__icon
									img(src="_/uploads/icons/person-gray.svg", alt="" loading="lazy")
								input.field__area(type="name" name="name" placeholder="Как к вам обращаться*")
						.form__field.field.--required.--tel
							.field__wrap
								.field__icon
									img(src="_/uploads/icons/tel-gray.svg", alt="" loading="lazy")
								input.field__area(type="tel" name="tel" placeholder="Ваш телефон*")
						.form__btn.btn.--primary Получить консультацию
					.form__policy.tac Нажимая на кнопку вы соглашаетесь с условиями #[a(href="/politika.pdf" target="_blank").link.inline обработки данных] #[br]и #[a(href="/politika.pdf" target="_blank").link.inline политикой конфиденциальности]
		.consult__bg.bg-img
			picture
				source(srcset="_/uploads/consult-bg.webp" type="image/webp")
				img(src="_/uploads/consult-bg.jpg" alt="" loading="lazy")
		.anchore__link#consult

	.qual.bg.anchore
		.case
			.qual__title.h2.tac #[h2 #[strong Качественная фанера –] #[br]лучший выбор для строительства]
			.qual__wrap
				.qual__img
					img(src="_/uploads/product.png" srcset="_/uploads/product-2x.png 2x", alt="" loading="lazy")
				.qual__list
					mixin qual(img, name, text)
						.qual__item
							.qual__icon
								img(src=img, alt="" loading="lazy")
							.qual__info
								.qual__name!=name
								.qual__text!=text
					+qual('_/uploads/qual-1.svg', 'Безопасна <br>для всей семьи', 'Не выделяет никаких вредных веществ, которые могут навредить здоровью человека')
					+qual('_/uploads/qual-2.svg', 'Устойчива <i></i> к влаге', 'Фанера не погнется или не разрушится при воздействии влаги, что делает <br>ее подходящей для влажных условий')
					+qual('_/uploads/qual-3.svg', 'Сделана из <br>натуральных материалов', 'В составе фанеры используются только натуральная основа. В основном – береза.')
					+qual('_/uploads/qual-4.svg', 'Обладает высокой <br>прочностью', 'Многослойная структура фанеры обеспечивает высокую прочность <br>и устойчивость к деформациям')
					+qual('_/uploads/qual-5.svg', 'Имеет эстетический вид', 'Фанеру можно окрасить, лакировать <br>и шлифовать, достигая желаемого внешнего вида')
					+qual('_/uploads/qual-6.svg', 'Выгоднее аналогов', 'Фанера является более <br>доступным материалом <br>по сравнению с альтернативами')
				a.qual__btn.btn.--primary(data-fancybox data-src="#modal-order" href="javascript:;") Заказать фанеру
		.qual__bg.bg-img
			picture
				source(srcset="_/uploads/qual-bg.webp" type="image/webp")
				img(src="_/uploads/qual-bg.jpg" alt="" loading="lazy")
		.anchore__link#qual

	.type.anchore
		.case
			.type__title.h2.tac #[h2 #[strong Идеально подходит] #[br]для следующих видов работ ]
			.type__list
				mixin type(img, name, text)
					.type__item
						.type__img.cover
							img(src=img, alt="" loading="lazy")
						.type__info.tac
							.type__name.h5=name
							.type__text!=text
							a.type__btn.btn.--primary.--md(data-fancybox data-src="#modal-price" href="javascript:;") Рассчитать цену
				+type('_/uploads/type/type-1.jpg', 'Для пола', 'Используется для выравнивания полов под линолеум, паркет <br>или покраску.')
				+type('_/uploads/type/type-2.jpg', 'Для лазерной резки', 'Обладает ровной поверхностью <br>для создания сложных деталей')
				+type('_/uploads/type/type-3.jpg', 'Для потолка', 'Подходит для создания ровной <br>и привлекательной поверхности <br>потолка')
				+type('_/uploads/type/type-4.jpg', 'Для обшивки', ' Эстетичный и прочный облицовочный материал для различных <br>поверхностей')
				+type('_/uploads/type/type-5.jpg', 'Для опалубки', 'Подходит для строительства <br>и формирования опалубочных конструкций')
				+type('_/uploads/type/type-6.jpg', 'Для кровельных работ', 'Обеспечивает защиту кровли от влаги <br>и других внешних воздействий')
				+type('_/uploads/type/type-7.jpg', 'Для лодок', 'Фанера для строительства лодок обладает главным качеством – водостойкостью')
				+type('_/uploads/type/type-8.jpg', 'Для хоз.построек', 'Обладает высокой стойкостью к погодным условиям и обеспечивает долговечность построек')
		.type__decor
			.type__decor-item.decor-item
				img(src="_/uploads/decor/decor-6.png", alt="" loading="lazy")
			.type__decor-item.decor-item
				img(src="_/uploads/decor/decor-7.png", alt="" loading="lazy")
		.anchore__link#type

	.order.bg
		.case
			.order__title.h2.tac #[h2 Оставьте заявку]
			.order__subtitle.tac и мы рассчитаем ваш заказ с учетом доставки уже через 5 минут
			form.order__form
				.order__fields
					.order__field.field.--md.--required.--tel
						.field__wrap
							.field__icon
								img(src="_/uploads/icons/tel-gray.svg", alt="" loading="lazy")
							input.field__area(type="tel" name="tel" placeholder="Ваш номер телефона")
					.order__btn.btn.--primary.--md Рассчитать стоимость заказа
				.order__policy.tac Нажимая на кнопку вы соглашаетесь с условиями #[a(href="/politika.pdf" target="_blank").link.--primary.inline обработки данных] и #[a(href="/politika.pdf" target="_blank").link.--primary.inline политикой конфиденциальности]
		.order__bg.bg-img
			picture
				source(srcset="_/uploads/order-1.webp" type="image/webp")
				img(src="_/uploads/order-1.jpg" alt="" loading="lazy")

	.gallery
		.case
			.gallery__title.h2.tac #[h2 #[strong С 2010 года] доставили уже более #[br]#[strong 3000 м3] фанеры #[i]по всей России]
			.gallery__slider.swiper
				.gallery__slider-wrap.swiper-wrapper
					.gallery__slider-slide.swiper-slide.cover
						picture
							source(srcset="_/uploads/gallery/gallery-1.webp" type="image/webp")
							img(src="_/uploads/gallery/gallery-1.jpg" alt="" loading="lazy")
					.gallery__slider-slide.swiper-slide.cover
						picture
							source(srcset="_/uploads/gallery/gallery-2.webp" type="image/webp")
							img(src="_/uploads/gallery/gallery-2.jpg" alt="" loading="lazy")
					.gallery__slider-slide.swiper-slide.cover
						picture
							source(srcset="_/uploads/gallery/gallery-3.webp" type="image/webp")
							img(src="_/uploads/gallery/gallery-3.jpg" alt="" loading="lazy")
					.gallery__slider-slide.swiper-slide.cover
						picture
							source(srcset="_/uploads/gallery/gallery-4.webp" type="image/webp")
							img(src="_/uploads/gallery/gallery-4.jpg" alt="" loading="lazy")
					.gallery__slider-slide.swiper-slide.cover
						picture
							source(srcset="_/uploads/gallery/gallery-5.webp" type="image/webp")
							img(src="_/uploads/gallery/gallery-5.jpg" alt="" loading="lazy")
					.gallery__slider-slide.swiper-slide.cover
						picture
							source(srcset="_/uploads/gallery/gallery-6.webp" type="image/webp")
							img(src="_/uploads/gallery/gallery-6.jpg" alt="" loading="lazy")
				.gallery__slider-controls
					.gallery__slider-pagination.swiper-pagination
					.gallery__slider-arrows
						.gallery__slider-arrow.swiper-button-prev
							<svg width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 21L2 11L12 1" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>
						.gallery__slider-arrow.swiper-button-next
							<svg width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L11 11L0.999999 21" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>

	.delivery.pb0.anchore
		.case
			.delivery__wrap.row
				.delivery__img.cover
					img(src="_/uploads/delivery.jpg" srcset="_/uploads/delivery-2x.jpg 2x", alt="")
				.delivery__info
					.delivery__title.h2 #[h2 Привезем ваш заказ #[br]#[strong в целости и сохранности #[br]без предоплаты]]
					.delivery__list
						.delivery__item
							.delivery__icon
								img(src="_/uploads/icons/check-bg.svg", alt="" loading="lazy")
							.delivery__text Доставка по Москве и области #[i]в день заказа
						.delivery__item
							.delivery__icon
								img(src="_/uploads/icons/check-bg.svg", alt="" loading="lazy")
							.delivery__text Платите только по факту доставки любым удобным #[br]способом, никаких предоплат
						.delivery__item
							.delivery__icon
								img(src="_/uploads/icons/check-bg.svg", alt="" loading="lazy")
							.delivery__text При необходимости, вы можете #[strong приехать #[br]за заказом самостоятельно] и оплатить #[i]на месте
					a.delivery__btn.btn.--primary(data-fancybox data-src="#modal-price" href="javascript:;") Узнать стоимость #[i]фанеры с доставкой
		.anchore__link#delivery

	.why.anchore
		.case
			.why__title.h2.tac #[h2 Почему выбирают нас, а не других]
			.why__list.row
				.why__item.--w2.bg
					.why__info
						.why__name.h4 Вся продукция #[br]сертифицирована
						.why__text Имеем все необходимые сертификаты и лицензии #[br]на продукцию
					.why__img
						img(src="_/uploads/why-1.png" srcset="_/uploads/why-1-2x.png 2x", alt="")
					.why__bg.bg-img
						img(src="_/uploads/why-bg-1.jpg", alt="" loading="lazy")
				.why__item.--w2.bg
					.why__info
						.why__name.h4 При производстве используется только качественное сырье
						.why__text Благодаря этому срок эксплуатации фанеры повышается в 2 раза
					.why__img
						img(src="_/uploads/why-2.png" srcset="_/uploads/why-2-2x.png 2x", alt="")
					.why__bg.bg-img
						img(src="_/uploads/why-bg-2.jpg", alt="" loading="lazy")
				.why__item.bg
					.why__info
						.why__name.h4 Экономия #[br]до 30% бюджета
						.why__text Являемся официальным дилером производителя фанеры и можем предложить лучшие условия #[br]по рынку
					.why__img
						img(src="_/uploads/why-3.png" srcset="_/uploads/why-3-2x.png 2x", alt="")
					.why__bg.bg-img
						img(src="_/uploads/why-bg-3.jpg", alt="" loading="lazy")
				.why__item.bg
					.why__info
						.why__name.h4 Контроль всей продукции перед отправкой
						.why__text Тщательно проверяем #[br]каждый заказ перед #[br]отправкой
					.why__img
						img(src="_/uploads/why-4.png" srcset="_/uploads/why-4-2x.png 2x", alt="")
					.why__bg.bg-img
						img(src="_/uploads/why-bg-1.jpg", alt="" loading="lazy")
				.why__item.bg
					.why__info
						.why__name.h4 Гарантия возврата средств, если вас #[br]не устроит качество
						.why__text Вернем всю сумму заказа, если вас не устроит качество фанеры
					.why__img
						img(src="_/uploads/why-5.png" srcset="_/uploads/why-5-2x.png 2x", alt="")
					.why__bg.bg-img
						img(src="_/uploads/why-bg-5.jpg", alt="" loading="lazy")
		.why__decor
			.why__decor-item.decor-item
				img(src="_/uploads/decor/decor-8.png", alt="" loading="lazy")
			.why__decor-item.decor-item
				img(src="_/uploads/decor/decor-8.png", alt="" loading="lazy")
			.why__decor-item.decor-item
				img(src="_/uploads/decor/decor-5.png", alt="" loading="lazy")
			.why__decor-item.decor-item
				img(src="_/uploads/decor/decor-4.png", alt="" loading="lazy")
		.anchore__link#why

	.order.bg.achore
		.case
			.order__title.h2.tac #[h2 Распил по вашим размерам]
			.order__subtitle.tac Оставьте заявку и мы рассчитаем ваш заказ с учетом доставки уже через 5 минут
			form.order__form
				.order__fields
					.order__field.field.--md.--required.--tel
						.field__wrap
							.field__icon
								img(src="_/uploads/icons/tel-gray.svg", alt="" loading="lazy")
							input.field__area(type="tel" name="tel" placeholder="Ваш номер телефона")
					.order__btn.btn.--primary.--md Рассчитать стоимость заказа
				.order__policy.tac Нажимая на кнопку вы соглашаетесь с условиями #[a(href="/politika.pdf" target="_blank").link.--primary.inline обработки данных] и #[a(href="/politika.pdf" target="_blank").link.--primary.inline политикой конфиденциальности]
		.order__bg.bg-img
			picture
				source(srcset="_/uploads/order-2.webp" type="image/webp")
				img(src="_/uploads/order-2.jpg" alt="" loading="lazy")
		.anchore__link#order2

	.reviews.anchore
		.case
			.reviews__title.h2.tac #[h2 А вот, что пишут те, с кем мы уже работали]
			.reviews__wrap
				.reviews__slider.swiper
					.reviews__slider-wrap.swiper-wrapper
						.reviews__slider-slide.swiper-slide
							.reviews__img
								img(src="_/uploads/reviews/Александр (клиент).jpg", alt="" loading="lazy")
						.reviews__slider-slide.swiper-slide
							.reviews__img
								img(src="_/uploads/reviews/Евгения (клиент).jpg", alt="" loading="lazy")
						.reviews__slider-slide.swiper-slide
							.reviews__img
								img(src="_/uploads/reviews/Егор (клиент).jpg", alt="" loading="lazy")
						.reviews__slider-slide.swiper-slide
							.reviews__img
								img(src="_/uploads/reviews/Сергей (клиент).jpg", alt="" loading="lazy")
						.reviews__slider-slide.swiper-slide.--sm
							.reviews__img
								img(src="_/uploads/reviews/reviews-1.jpg", alt="" loading="lazy")
						.reviews__slider-slide.swiper-slide.--sm
							.reviews__img
								img(src="_/uploads/reviews/reviews-2.jpg", alt="" loading="lazy")
				.reviews__slider-controls
					.reviews__slider-pagination.swiper-pagination
					.reviews__slider-arrows
						.reviews__slider-arrow.swiper-button-prev
							<svg width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 21L2 11L12 1" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>
						.reviews__slider-arrow.swiper-button-next
							<svg width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L11 11L0.999999 21" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>
			.reviews__decor
				.reviews__decor-item.decor-item
					img(src="_/uploads/decor/decor-4.png", alt="" loading="lazy")
				.reviews__decor-item.decor-item
					img(src="_/uploads/decor/decor-5.png", alt="" loading="lazy")
		.anchore__link#reviews

	.quest.bg
		.case
			.quest__title.h2.tac #[h2 Остались вопросы?]
			.quest__subtitle.tac Оставьте заявку в форме ниже и мы свяжемся с вами #[br]в течение 15 минут, чтобы обсудить все детали
			form.quest__form.form.--w3
				.form__fields
					.form__field.field.--required.--name
						.field__wrap
							.field__icon
								img(src="_/uploads/icons/person-gray.svg", alt="" loading="lazy")
							input.field__area(type="name" name="name" placeholder="Введите ваше имя")
					.form__field.field.--required.--tel
						.field__wrap
							.field__icon
								img(src="_/uploads/icons/tel-gray.svg", alt="" loading="lazy")
							input.field__area(type="tel" name="tel" placeholder="Ваш телефон")
					.form__btn.btn.--primary.--md Получить консультацию
				.form__policy.tac Нажимая на кнопку вы соглашаетесь с условиями #[a(href="/politika.pdf" target="_blank").link.--primary.inline обработки данных] и #[a(href="/politika.pdf" target="_blank").link.--primary.inline политикой конфиденциальности]
			.quest__call
				.quest__call-title.tac Или позвоните нам по телефону
				.quest__call-wrap.row
					.quest__call-img
						img(src="_/uploads/tel.png" srcset="_/uploads/tel-2x.png 2x", alt="" loading="lazy")
					a.quest__call-link.tel(href="tel:+79853979759") +7 (985) 397-97-59
		.quest__bg.bg-img
			picture
				source(srcset="_/uploads/quest-bg.webp" type="image/webp")
				img(src="_/uploads/quest-bg.jpg" alt="" loading="lazy")

	.contacts.ancore
		.case
			.contacts__wrap
				.contacts__info
					.contacts__title.h3 #[h3 Адрес склада готовой продукции]
					.contacts__list
						.contacts__item
							.contacts__icon
								<svg width="16" height="24" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.99967 0.5C3.58886 0.5 0 4.29865 0 8.96776C0 10.1856 0.235507 11.3485 0.699626 12.4242C2.69977 17.0568 6.53459 21.9479 7.66253 23.3364C7.74704 23.4402 7.87024 23.5 7.99989 23.5C8.12954 23.5 8.25274 23.4402 8.33725 23.3364C9.46475 21.9481 13.2996 17.0573 15.3004 12.4242C15.7647 11.3485 16 10.1856 16 8.96776C15.9996 4.29865 12.4107 0.5 7.99967 0.5ZM7.99967 13.3659C5.70842 13.3659 3.84416 11.3927 3.84416 8.96753C3.84416 6.54211 5.70842 4.56888 7.99967 4.56888C10.2909 4.56888 12.1552 6.54211 12.1552 8.96753C12.1554 11.3927 10.2911 13.3659 7.99967 13.3659Z" fill="white"/></svg>
							.contacts__text.h4 г. Москва, 41 км МКАД, ТК Мельница
						.contacts__item
							.contacts__icon
								<svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.4453 13.0689C13.8246 12.4561 13.0497 12.4561 12.4329 13.0689C11.9624 13.5354 11.4919 14.002 11.0293 14.4764C10.9028 14.6069 10.7961 14.6346 10.6419 14.5476C10.3374 14.3815 10.0132 14.2471 9.72064 14.0652C8.35661 13.2073 7.21398 12.1042 6.20183 10.8627C5.69971 10.2459 5.25294 9.58565 4.94059 8.84235C4.87733 8.69211 4.8892 8.59327 5.01176 8.4707C5.48225 8.01602 5.94088 7.54948 6.40347 7.08294C7.04793 6.43453 7.04793 5.67542 6.39952 5.02306C6.03182 4.65141 5.66412 4.28766 5.29643 3.91601C4.91687 3.53646 4.54127 3.15295 4.15776 2.77734C3.53702 2.17242 2.76209 2.17242 2.14531 2.7813C1.67087 3.24784 1.21619 3.72624 0.733835 4.18487C0.287064 4.60792 0.0617023 5.12585 0.0142576 5.73077C-0.0608631 6.71525 0.180314 7.64437 0.520334 8.54978C1.21619 10.4238 2.27579 12.0884 3.56075 13.6145C5.29643 15.6783 7.36818 17.3112 9.79181 18.4894C10.883 19.0192 12.0138 19.4265 13.2434 19.4937C14.0895 19.5411 14.8249 19.3276 15.414 18.6673C15.8173 18.2166 16.272 17.8054 16.699 17.3745C17.3316 16.734 17.3355 15.959 16.7069 15.3265C15.9557 14.5713 15.2005 13.8201 14.4453 13.0689ZM13.6902 9.91776L15.1491 9.66868C14.9198 8.32837 14.2872 7.11457 13.3264 6.14987C12.3103 5.13376 11.0254 4.49326 9.60994 4.29557L9.40434 5.7624C10.4995 5.9166 11.4959 6.41081 12.2827 7.1976C13.026 7.9409 13.5123 8.88189 13.6902 9.91776ZM15.9715 3.57599C14.2872 1.89171 12.1561 0.828159 9.80367 0.5L9.59808 1.96683C11.6303 2.2515 13.4727 3.17272 14.9277 4.62373C16.3075 6.00358 17.2129 7.74717 17.5411 9.66472L19 9.41564C18.6165 7.19365 17.5688 5.17725 15.9715 3.57599Z" fill="white"/></svg>
							.contacts__text.h4 #[a(href="tel:+79175030777").h4 +7 (917) 503-07-77]
						.contacts__item
							.contacts__icon
								<svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5043 9.0283C10.0565 9.32684 9.53631 9.48466 9 9.48466C8.46373 9.48466 7.94355 9.32684 7.49573 9.0283L0.119848 4.11089C0.0791298 4.08366 0.0391656 4.05533 0 4.02591L0 12.0836C0 13.0075 0.749707 13.7406 1.65702 13.7406H16.3429C17.2668 13.7406 18 12.9909 18 12.0836V4.02588C17.9607 4.05537 17.9207 4.08377 17.8799 4.11103L10.5043 9.0283Z" fill="white"/><path d="M0.704884 3.23321L8.08077 8.15066C8.35998 8.33681 8.67997 8.42987 8.99997 8.42987C9.31999 8.42987 9.64002 8.33678 9.91923 8.15066L17.2951 3.23321C17.7365 2.93913 18 2.44695 18 1.91573C18 1.00234 17.2569 0.259277 16.3435 0.259277H1.65646C0.743099 0.259313 8.71912e-07 1.00237 8.71912e-07 1.91661C-0.000272946 2.17719 0.0639503 2.43379 0.186942 2.66352C0.309934 2.89325 0.487872 3.08897 0.704884 3.23321Z" fill="white"/></svg>
							.contacts__text.h4 #[a(href="mailto:sale@fanera.msk.ru").h4 sale@fanera.msk.ru]
				.contacts__img.cover
					picture
						source(srcset="_/uploads/contacts-img.webp" type="image/webp")
						img(src="_/uploads/contacts-img.jpg" alt="" loading="lazy")
		.contacts__map.map
			.map__area#map(data-map="55.611136, 37.489851" data-placeholder="55.611136, 37.489851")
			script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
		.anchore__link#contacts
